{% extends "base.html" %}

{% block content %}
<link href="css/clippy.css" rel="stylesheet">

<script src="js/clipboard.js/2.0.4/clipboard.min.js"></script>
<script>
new ClipboardJS('.btn')
</script>

<section>
  <table>
  {{ form.group.label }}<br>
  {% for field in form.group %}
    <tr>
      <td>{{field}}</td>
      <td>{{field.label}}</td>
    </tr>
  {% endfor %}
  </table>

  <div class="input-group">
    <div>Send an email to the below address from the account you wish to signup.  The subject and body of the email don't matter.</div><br>
  </div>
  <div class="input-group">
    <input id="selected-group" value="wheaton-ultimate+subscribe@googlegroups.com" type="text" size=40>
    <!--
    <span class="input-group-button">
      <button class="btn" data-clipboard-target="#selected-group">
        <img class="clippy" src="img/clippy.svg" alt="Copy to clipboard">
      </button>
    </span>
    -->
  </div>
</section>
{% endblock %}

{% block javascript %}
<script>
$(document).ready(function(){
  $('input[name=group]').change(function() {
    $("#selected-group").val($("input[name=group]:checked").val()+"+subscribe@googlegroups.com");
  });
});
</script>
{% endblock %}
