{% extends "base.html" %}

{% block header %}
  <link href="css/clippy.css" rel="stylesheet">
  <!--
  <link href="css/primer.css" rel="stylesheet" />
  -->
{% endblock %}

{% block content %}

<script src="js/clipboard.js/2.0.4/clipboard.min.js"></script>
<script>
new ClipboardJS('.clippy-btn')
</script>

<!--https://webapps.stackexchange.com/questions/13508/how-can-i-subscribe-to-a-google-mailing-list-with-a-non-google-e-mail-address-->
<div class="container">
  <div class="row">
    {{ form.group.label }}<br>
  </div>

  <div> <!-- class="row"> -->
    <table>
    {% for field in form.group %}
      <tr>
        <td>{{field}}</td>
        <td>{{field.label}}</td>
      </tr>
    {% endfor %}
    </table>
  </div>

  <div>
    <div class="row"><h3>Are you signing up yourself?</h3></div>
    <div class="row">
      <div>Send an email to the below address from the account you wish to signup. The subject and body of the email don't matter.</div><br>
    </div>
    <!--
    <pre class="snippet">
      <button class="btn" data-clipboard-snippet=""></button>
      <code class="js hljs javascript">wheaton-ultimate+subscribe@googlegroups.com</code>
    </pre>
    -->

    <div class="row clippy">
      <input id="selected-group" value="wheaton-ultimate+subscribe@googlegroups.com" type="text">
      <button class="clippy-btn" data-clipboard-target="#selected-group">
        <img src="img/clippy.svg" alt="Copy to clipboard" width="13">
      </button>
    </div>
    <!--
    <div>This <a href="mailto:wheaton-ultimate+subscribe@googlegroups.com?subject=Add to emai list&body=Please add me to the email list.  thanks!">link</a> might work</div>
    -->
    <div class="row"><h3>Are you signing up a friend?</h3></div>
    <div>Tell them about this site</div>
    <div class="row"><h3>Are you still trying to sign up that friend?</h3></div>
    <div>Open this <a href="https://groups.google.com/forum/#!forum/wheaton-ultimate/join" name="join-link">link</a> in an incognito/private tab.</div>
    <div>If you don't use incognito mode, the link will autofill the form with your email/google account details and you won't be able to update.</div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script>
$(document).ready(function(){
  $('input[name=group]').change(function() {
    var group = $("input[name=group]:checked").val();
    $("#selected-group").val(group+"+subscribe@googlegroups.com");
    $("a[name=join-link]").attr("href", "https://groups.google.com/forum/#!forum/"+group+"/join");
  });
});
</script>
{% endblock %}
