{% extends "base.html" %}

{% block header %}
  <link href="css/clippy.css" rel="stylesheet">
  <!--
  <link href="css/primer.css" rel="stylesheet" />
  -->
{% endblock %}

{% block content %}

<script src="js/clipboard.js/2.0.4/clipboard.min.js"></script>
<script>
new ClipboardJS('.clippy-btn')
</script>

<div class="container">
  <div class="row">
    {{ form.group.label }}<br>
  </div>

  <div> <!-- class="row"> -->
    <table>
    {% for field in form.group %}
      <tr>
        <td>{{field}}</td>
        <td>{{field.label}}</td>
      </tr>
    {% endfor %}
    </table>
  </div>

  <div>
    <div class="row">
      <div>Send an email to the below address from the account you wish to signup.  The subject and body of the email don't matter.</div><br>
    </div>
    <!--
    <pre class="snippet">
      <button class="btn" data-clipboard-snippet=""></button>
      <code class="js hljs javascript">wheaton-ultimate+subscribe@googlegroups.com</code>
    </pre>
    -->

    <div class="row clippy">
      <input id="selected-group" value="wheaton-ultimate+subscribe@googlegroups.com" type="text">
      <button class="clippy-btn" data-clipboard-target="#selected-group">
        <img src="img/clippy.svg" alt="Copy to clipboard" width="13">
      </button>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script>
$(document).ready(function(){
  $('input[name=group]').change(function() {
    $("#selected-group").val($("input[name=group]:checked").val()+"+subscribe@googlegroups.com");
  });
});
</script>
{% endblock %}
