{% extends "base.html" %}

{% block header %}
  <link href="css/clippy.css" rel="stylesheet">
  <!--
  <link href="css/primer.css" rel="stylesheet" />
  -->
{% endblock %}

{% block content %}

<script src="js/clipboard.js/2.0.4/clipboard.min.js"></script>
<script>
new ClipboardJS('.clippy-btn')
</script>

<!--https://webapps.stackexchange.com/questions/13508/how-can-i-subscribe-to-a-google-mailing-list-with-a-non-google-e-mail-address-->
<div class="container">
  <h3>Unsubscribe</h3>
  <p>Select whether you are unsubscribing a Gmail account or Non-Gmail account:</p>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#gmail">Gmail</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#non-gmail">Non-Gmail</a>
    </li>
  </ul>

  <div class="tab-content">
    <div id="gmail" class="tab-pane container active">
      <p> easy peasy.  Manage your groups from <a href="https://groups.google.com/forum/#!myforums">Google's page</a></p>
      <p>If you have any trouble, try the instructions for Non-Gmail accounts</p>
    </div>
    <div id="non-gmail" class="tab-pane fade">
      <div class="row"> {{ form.group.label }} </div>

      <div class="row">
        {{ form.group() }}
      </div>
      <div class="row">
        <div>Send an email to the below address <b>from the account you wish to unsubscribe</b>. The subject and body of the email don't matter.</div><br>
      </div>

      <div id="phone-link" class="row d-md-none">
        <p>Select groups</p> 
      </div>
      <!--<div class="row clippy d-none d-lg-block">-->
      <div class="row clippy">
        <input id="selected-group" value="" type="text" width="60px">
        <button class="clippy-btn" data-clipboard-target="#selected-group">
          <img src="img/clippy.svg" alt="Copy to clipboard" width="13">
        </button>
      </div>
    </div>
  </div>
  <div>
    <img src="https://imgs.xkcd.com/comics/unsubscribe_message.png">
  </div>
</div>
{% endblock %}

{% block javascript %}
<script>
$(document).ready(function(){
  function updateEmailAddress() {
    var action = $("input[name=action]:checked").val();

    var selected_groups = [];
    $("input[name=group]:checked").each(function(index, item) {
      console.log(item);
      selected_groups.push($(this).val()+"+unsubscribe@googlegroups.com");
    });
    console.log(selected_groups);
    //var group = $("input[name=group]:checked").val();
    $("#selected-group").val(selected_groups.join(","));

    $("#phone-link").empty();
    if (selected_groups.length > 0) {
      $("#phone-link").append('<a href="mailto:'+selected_groups.join(",")+'?subject=Its been real&body=I dont know half of you half as well as I should like and I like less than half of you half as well as you deserve.  thanks!">Send Email</a>');
    }
    else {
      $("#phone-link").append("<p>Select groups</p>");
    }
  }
  $('input[name=group]').change(updateEmailAddress);
});
</script>
{% endblock %}

